<div *ngIf="mode == 'INS' || mode == 'UPD'">
  <app-unit-detail [unitSelected]="unitSelected" [(mode)]="mode" (modeChange)="onModeChanged($event)"></app-unit-detail> 
</div>
<div *ngIf="mode == 'LIST'" class="container">
  <div class="header">
    <h3 class="subtitle">Unidades</h3>
    <button class="btn btn-outline-success" (click)="create()">
      <i class="bi bi-plus-circle"></i> 
    </button>
  </div>
  <app-alert [isError]="isError" [message]="message"></app-alert>
  <div class="table-container">
    <table class="modern-table">
      <thead class="table-header">
        <tr>
          <th class="actions-column">Acciones</th>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unit of units" class="table-row">
          <td class="actions-cell">
            <a class="action-btn action-btn-edit" (click)="edit(unit)"><i class="bi bi-pencil-square"></i></a> 
            <button *ngIf="unit.is_deleted" class="action-btn action-btn-play" (click)="setSelectUnit(unit)" ><i class="bi bi-play-fill"></i></button>
            <button *ngIf="!unit.is_deleted" class="action-btn action-btn-stop" (click)="setSelectUnit(unit)" ><i class="bi bi-stop-circle"></i></button>  
          </td>
          <td>{{ unit.id }}</td>
          <td class="product-name">{{ unit.name }}</td>
          <td class="product-name">{{ unit.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal
  [show]="showModal"
  [message]="messageModal"
  (confirm)="confirmModal()"
  (cancel)="cancelModal()">
</app-modal>
