.card {
  background-color: white;
  border-radius: 0.75rem;
  padding: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid oklch(0.69 0 0);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
}
.btn {
    font-size: 1rem;
}
.header {
    justify-content:space-around;
}
