/* You can add global styles to this file, and also import other style files */
:root {
    --bg-card-color: #e4e4e4;
    --border-color: #d9d9d9;
    --bg-table-color: #dddddd;
}

.table-main {
  border-radius: 15px !important;
  overflow: hidden; 
  border-width: 0px !important;

}


.action-btn-view{
  background-color: #b8daff;
  color: #004085;
  border: 1px solid #bee5eb;
}

.action-btn-view:hover{
  background-color: #8ab8e9;
  color: #003865;
  border: 1px solid #8ab8e9;
}

.action-btn-edit{
  background-color: #fff3cd;
  color: #6c4b01;
  border: 1px solid #fff3cd;
}

.action-btn-edit:hover{
  background-color: #f3d98a;
  color: #6c4b01;
  border: 1px solid #f3d98a;
}

.action-btn-del{
  background-color: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
}
.action-btn-del:hover{
  background-color: #dd7a83;
  color: #721c24;
  border: 1px solid #dd7a83;
}

.action-btn-ins{
  background-color: #d4edda;
  color: #005613;
  border: 1px solid #c3e6cb;
}
.action-btn-ins:hover{
  background-color: #c3e6cb;
  color: #0f3f1c;
  border: 1px solid #c3e6cb;
}

.card {
  max-width: 600px;
  margin: auto;
  background-color: rgb(228, 228, 228);
}