<div class="container">
    <div class="content">
        <img src="applogo.PNG" width="300rem">
        <div>
            <p class="p">Desarrollado por Luque Encina Florencia</p>
            <p class="p">TUP - UTN FRRe</p>
        </div>
    </div>
    <div class="footer">
        <div class="horarios">
            <div class="titulo">
                <i class="bi bi-clock"> </i> <b class="h4"> HORARIOS</b>
            </div>
            <div class="subtitulo">
                <h4>Lunes a Sábado</h4>
                <p class="p">09:30 a 13:30 hs</p>
                <p class="p">17:30 a 21:30 hs</p>
            </div>
        </div>
        <div class="direccion">
            <div class="titulo">
                <i class="bi bi-geo-alt"></i> <b class="h4"> UBICACION</b>
            </div>
            <div class="subtitulo">
                <h4>Colón 916</h4>
                <p class="p">Resistencia</p>
                <p class="p">Chaco</p>
            </div>
        </div>
        <div class="mapa"><iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2959.428598350542!2d-58.99404022535481!3d-27.461443076324308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450c931d146ab5%3A0x687fe947dea42a6!2sCol%C3%B3n%20916%2C%20H3504DCO%20Resistencia%2C%20Chaco!5e1!3m2!1ses-419!2sar!4v1761671193283!5m2!1ses-419!2sar"
                width="50%" height="100%" style="border:0;padding: 0;margin: 0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
    </div>
</div>