.card {
  max-width: 660px;
  border: 0px solid var(--border-color);
}

/* Mensaje de éxito */
.success {
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 1rem;
  background-color: #d4edda; /* verde suave */
  color: #155724;            /* texto verde oscuro */
  border: 1px solid #c3e6cb; /* borde verde */
}

/* Mensaje de error */
.error {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #f8d7da; /* rojo suave */
  color: #721c24;            /* texto rojo oscuro */
  border: 1px solid #f5c6cb; /* borde rojo */
}