<!-- Formulario moderno sin Bootstrap -->
<div *ngIf="sale; else notFound" class="detail-container">
  <app-alert [isError]="isError" [message]="message"></app-alert>
  <div class="card">
    <h3 class="form-title">{{ mode=='INS' ? 'Registrar Ajuste de Stock' : mode=='DSP' ? 'Detalle del Ajuste de Stock' :
      'Editar Venta'}}
    </h3>

    <form (ngSubmit)="save()" class="form">
      <div class="form-row">
        <div style="display: none;" *ngIf="mode!='INS'" class="form-group">
          <label class="form-label">Identificador</label>
          <input class="form-control" [(ngModel)]="sale.id" name="id" readonly>
        </div>
        <div class="form-group">
          <label class="form-label">Fecha</label>
          <input class="form-control" type="date" [(ngModel)]="date" name="date" [readonly]="!editable">
          <input class="form-control" type="time" [(ngModel)]="time" name="time" [readonly]="!editable">
        </div>
      </div>
      <table class="modern-table">
        <thead class="table-header">
          <tr class="">
            <th style="display: none;">#</th>
            <th></th>
            <th>Producto</th>
            <th class="price-header">Stock Actual</th>
            <th class="price-header">Ajuste</th>
            <th class="price-header">Stock Nuevo</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-row">
            <td><a><i class="bi bi-trash3" (click)="removeProduct()"></i></a></td>
            <td class="product-name">
              <input class="form-control input-product" name="newProduct" type="text" [(ngModel)]="filter"
                placeholder="Buscar..." (input)="onSearch()">
              <div class="form-group-col input-product">
                <ul class="ul-suggest " *ngIf="suggestions.length>0">
                  <li class="li-suggest " *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                    {{ suggestion.name }}
                  </li>
                </ul>
              </div>
            </td>
            <td class="cant-cell"> <input class="form-control" name="stock" type="text" min="0" max="999"
                [ngModel]="this.newProduct?.stock" readonly></td>
            <td class="price-cell"> <input class="form-control" name="fixStock" type="number" min="-999" max="999"
                [(ngModel)]="newStock" (ngModelChange)="onQuantitychange()"></td>
            <td class="price-cell"> <input class="form-control" name="newStock" type="number" min="-999" max="999"
                [(ngModel)]="newProductStock" readonly></td>
          </tr>
        </tbody>
      </table>

      <div class="form-actions">
        <a class="btn btn-outline-secondary" (click)="back()">Volver</a>
        <button *ngIf="editable" type="submit" class="btn btn-outline-success" [disabled]="mode=='DSP'"><i
            class="bi bi-floppy"></i>&nbsp; Confirmar</button>
      </div>
    </form>
  </div>
</div>

<ng-template #notFound>
  <div class="error-message">
    <h3>⚠️ Venta no encontrado</h3>
    <p>La Venta que buscas no existe o ha sido eliminado.</p>
  </div>
</ng-template>